template(name='nav')
    #topnav.ui.fluid.attached.borderless.menu.topnav.hscroll
        unless connected
            .item 
                +status
        if connected
            // unless subs_ready
            //     .icon.item
            //         +i name='pizza' cl='spinning'
            //         // i.big.loading.grey.food.icon
            // else 
            a.header.item.zoomer.fly_left(href='/' class="{{isActiveRoute regex='home'}}")
                i.large.home.icon
                // img.ui.avatar.image(src="https://cdn.shopify.com/s/files/1/2432/4293/files/bcplogocirclestyle-2092x2107_1024x1024.png?v=1507416868")
                // span.mobile.hidden backcountry
            .right.menu
                if currentUser
                    a.icon.item(href="/add")
                        i.large.green.plus.icon
                //     a.item.log_out(title='sign out')
                //         i.sign.out.icon
                //         |sign out
                // else 
                //     a.item(href="/login" title='sign in')
                //         i.sign.in.icon
                //         |sign in
                //       .right.menu
                if currentUser
                    if logging_out
                        .icon.item
                            i.large.food.loading.icon
                    else
                        // if in_role 'admin'
                        //     a.icon.item(href='/admin' title='admin')
                        //         i.large.shield.icon
                        // a.icon.item.toggle_topbar(title='alerts')
                        //     i.bell.outline.large.icon
                        a.item(href="/user/#{currentUser.username}" class="{{isActiveRoute regex='profile'}}")
                            // i.wallet.icon
                            strong {{int currentUser.points}}p
                            if currentUser.image_id
                                img.ui.avatar.image(src="{{c.url currentUser.image_id width=200 height=200 gravity='face'}}")
                            else
                                i.user.icon
                            strong.mobile.hidden #{currentUser.name}
                unless currentUser
                    if subs_ready
                        a.icon.item(href='/login' title='login') 
                            i.sign.in.large.icon
                    else 
                        i.food.loading.icon
         




template(name='not_found')
    .ui.center.aligned.basic.segment
        +ibig name='spill'
        .ui.header 
            // i.question.icon
            |'#{current_route}'
            |not found
        .ui.big.basic.ciruclar.button.browser_back
            i.undo.icon
            |back
            
            